<div>
    <div class="grid_header">
        <p class="grid_header-name">glasses</p>
        <div class="grid_header-filter">
            <p class="grid_filter-title">color:</p>   
            <div class="grid_filter-color" *ngFor="let color of filteredColor"><input type="checkbox"> {{color.color}}</div>
        </div>
    </div>
    <div class="row grid_body">
        <div class="col-3 grid_content" *ngFor="let product of products">
            <div class="grid_content-image"><img src={{product.url}}></div>
            <p class="grid_content-name">{{product.name}}</p>
            <p class="grid_content-desc">{{product.description}}</p>
            <p class="grid_content-model">{{product.model}}</p>
            <p class="grid_content-price">{{product.price}} EUR</p>
        </div>    
    </div>
</div>
