.shop_header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    &-logo {
        height: 100px;
    }

    &-nav {
        display: flex;
        align-items: center;
        .search, .login {
            text-transform: uppercase;
            margin: 0 24px 0 0;
            &:hover {
                text-decoration: underline;
            }
        }    
    }
}